.sticky-wrapper {
  position: sticky;
  top: 0;
}

.header, .content {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.header {
  height: 100vh;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.sub-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: lightgrey;
}

.title:hover {
  color: grey;
}

.link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.link:hover {
  color: rgb(94 234 212);
}

.gray-text {
  color: darkgray;
}

.section-margin {
  margin-bottom: 9rem;
}

.about-img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  border: 2px solid #ccc;
  border-radius: 10px;
  mask-image: radial-gradient(circle, white, black);
  filter: brightness(110%) contrast(90%);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

.nav-margin {
  margin-top: 4rem;
}

nav, ul {
  list-style: none;
  padding-left: 0rem;

  li {
    cursor: pointer;

    a {
      text-decoration: none;
      color: gray;
      transition: color 0.2s ease;

      .nav-indicator {
        display: inline-block;
        width: 2rem;
        height: 1px;
        margin-right: 1rem;
        background-color: gray;
        transition: width 0.2s, color 0.2s ease;
      }

      .nav-link-text {
        font-size: .75rem;
        line-height: 1rem;
        font-weight: 700;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
    }
    
    a:hover {
      color: white;

      .nav-indicator {
        width: 4rem;
        background-color: white;
      }
    }

    a.active {
      color: white;
  
      .nav-indicator {
          width: 4rem;
          background-color: white;
      }
    }
  }
}

.icons-social {
  gap: 1.25rem;
}

.content-sub-title {
  display: none;
  @extend .sub-title;
}

.card-ol {
  list-style: none;
  padding-left: 0rem;

  &:hover .card-link {
    opacity: 0.5;
    filter: blur(1.25px);
  }

  .card-li {
    cursor: pointer;
    margin-bottom: 3rem;

    .card-link {
      gap: 1rem;
      text-decoration: none;
      transition: background-color 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease;

      img {
        width: 160px;
        height: 70px;
        border-radius: 10% / 5%;
      }

      &:hover {
        opacity: 1;
        filter: none;
        background-color: rgba(190, 190, 190, 0.1);
        border-radius: 0.5rem;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 0.5rem;

        .card-title {
          color: rgb(94 234 212);
        }
  
        .bi-arrow-up-right {
          color: rgb(94 234 212) !important;
          transform: translate(7px, -7px);
        }

        ~ .card-link {
          opacity: 0.5;
          filter: blur(1.25px);
        }
      }

      .card-date {
        font-size: .75rem;
        text-transform: uppercase;
        white-space: nowrap;
        margin-top: 2px;
      }

      .card-title {
        font-size: 1rem;
        font-weight: 500;
        color: white;
        transition: color 0.2s ease;
      }

      .bi-arrow-up-right {
        transition: transform 0.3s ease-in-out;
        transform: translate(0, 0);
      }

      .card-desc {
        font-size: .875rem;
      }

      .skills-margin {
        margin-top: .5em;
        margin-right: .375rem;

        .skills-item {
          font-size: .75rem;
          line-height: 1.25rem;
          font-weight: 500;
          background-color: rgba(45,212,191,.1);
          color: rgb(94 234 212);
          border-radius: 9999px;
        }
      }
    }
  }
}

.resume-link {
  display: inline-flex;
  align-items: center;
  line-height: 1.25;
  font-weight: 600;
  text-decoration: inherit;
  color: white;
  transition: color 0.2s ease;

  .bi-arrow-right-short {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
  }
}

.resume-link:hover {
  color: rgb(94 234 212);

  .bi-arrow-right-short {
    transform: translateX(7px);
  }
}

.projects-section {
  height: 70vh;
}

.coming-soon {
  line-height: 1.25;
  font-weight: 600;
  color: white;
  margin-top: 500px;
  margin-bottom: 9rem !important;
}

footer {
  p {
    @extend .gray-text;
  }
}

@media (max-width: 991px) {
  .header {
    height: auto;
    padding-bottom: 0;
  }

  .icons-social {
    margin-top: 2rem;
  }

  .nav-margin {
    display: none;
  }

  .content-sub-title {
    display: block;
  }

  .projects-section {
    height: auto !important;
  }
}

@media (max-width: 425px) {
  p {
    font-size: 3.76vw !important;
  }

  .header, .content {
    padding-top: 22.588vw !important;
  }

  .header, p {
    margin-top: 3.765vw !important;
    margin-bottom: 3.765vw !important;
  }

  .title {
    font-size: 11.294vw !important;
  }

  .sub-title {
    font-size: 4.894vw !important;
  }

  .nav-margin {
    margin-top: 15.059vw !important;
  }

  .nav-indicator {
    width: 7.529vw !important;
  }

  .nav-link-text {
    font-size: 2.824vw !important;
  }

  .icons-social {
    gap: 4.706vw !important;
    margin-top: 7.529vw !important;

    svg {
      width: 5.647vw !important;
      height: 5.647vw !important;
    }
  }

  .section-margin {
    margin-bottom: 33.882vw !important;
  }

  .card-ol {
    margin-top: 5.647vw !important;
    margin-bottom: 5.647vw !important;

    .card-li {
      margin-bottom: 11.294vw !important;

      .card-link {
        svg {
          width: 2.824vw !important;
          height: 2.824vw !important;
        }
    
        img {
          width: 37.647vw !important;
          height: 16.471vw !important;
        }
    
        .card-date {
          font-size: 2.824vw !important;
        }
      
        .card-title {
          font-size: 3.765vw !important;
        }
      
        .card-desc {
          font-size: 3.294vw !important;
        }
      }
    }
  }

  .skills-margin {
    margin-top: 1.882vw !important;
    margin-right: 1.412vw !important;

    .skills-item {
      font-size: 2.824vw !important;
      line-height: 4.706vw !important;
      border-radius: 2352.706vw !important;
      padding: 0.941vw 3.765vw 0.941vw 3.765vw !important;
    }
  }

  .resume-link {
    span {
      font-size: 3.765vw !important;
    }

    svg {
      width: 5.647vw !important;
      height: 5.647vw !important;
    }
  }

  .coming-soon {
    font-size: 3.765vw !important;
    margin-top: 500px;
  }
}