# This file serves as a template for environment variables needed to run the server.
# Copy this file to .env and fill in the actual values before starting the server.
# Replace <USERNAME> and <PASSWORD> with your MongoDB Atlas credentials.
PORT=3000
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@your-cluster.mongodb.net/portfolio_db?appName=portfolio